@import 'antd/dist/reset.css';

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  min-width: 375px;
  font-family:
    Roboto,
    -apple-system,
    BlinkMacSystemFont,
    segoe ui,
    Helvetica,
    Arial,
    sans-serif;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #fff;
}

*::-webkit-scrollbar-thumb {
  background-color: #f0f0f0;
  border-radius: 50px;
}

.ant-dropdown-menu {
  padding: 12px 8px !important;
}
.ant-dropdown-menu-item {
  min-height: 40px;
  border-radius: 0 !important;
  margin: 0 -8px !important;
}
